Source: trisquel-icon-theme
Section: trisquel
Priority: optional
Maintainer: Trisquel GNU/Linux developers <trisquel-devel@listas.trisquel.info>
Build-Depends-Indep: debhelper, scour
Standards-Version: 3.5.9.0

Package: trisquel-icon-theme
Architecture: all
Priority: optional
Depends: gnome-brave-icon-theme, ubuntu-mono
Provides: gnome-icon-theme
Description: Trisquel icon theme.
 An icon theme for Trisquel based on gnome-brave-icon-theme.
 .

