Source: trisquel-icon-theme
Section: trisquel
Priority: optional
Maintainer: Rubén Rodríguez <ruben@trisquel.info>
Build-Depends-Indep: debhelper
Standards-Version: 3.5.9.0

Package: trisquel-icon-theme
Architecture: all
Priority: optional
Depends: gnome-brave-icon-theme
Provides: gnome-icon-theme
Description: Trisquel icon theme.
 An icon theme for Trisquel based on gnome-brave-icon-theme.
 .

