[Desktop Entry]
X-AppInstall-Package=gdebi
X-AppInstall-Popcon=2967
X-AppInstall-Section=main

Name=GDebi Package Installer
Name[sv]=GDebi paketinstallatör
GenericName=Package Installer
GenericName[bn]=প্যাকেজ ইনস্টলার
GenericName[cs]=Nástroj pro instalaci balíčků
GenericName[de]=Paket-Installer
GenericName[es]=Instalador de paquetes
GenericName[fi]=Paketinasentaja
GenericName[fr]=Installateur de paquets
GenericName[hr]=Paketni instaler
GenericName[hu]=Csomagtelepítő
GenericName[id]=Penginstal Paket
GenericName[it]=Installatore pacchetto
GenericName[ko]=패키지 설치 프로그램
GenericName[ku]=Sazgera Paketan
GenericName[nl]=Pakketinstallatie
GenericName[pl]=Instalator pakietów
GenericName[pt]=Instalador de Pacotes
GenericName[pt_BR]=Instalador de Pacotes
GenericName[ru]=Установщик пакетов
GenericName[sk]=Inštalátor balíkov
GenericName[sv]=Paketinstallatör
Comment=Install and view software packages
Comment[bn]=সফটওয়্যার প্যাকেজ ইনস্টল করুন এবং দেখুন
Comment[cs]=Instalace a prohlížení balíčků
Comment[de]=Software-Pakete installieren und betrachten
Comment[es]=Instalar y ver paquetes de software
Comment[fi]=Asenna ja katsele ohjelmistopaketteja
Comment[fr]=Installer et lister les paquets logiciels
Comment[hr]=Instaliraj i pregledaj pakete
Comment[hu]=Szoftvercsomagok telepítése és megjelenítése
Comment[id]=Instal dan tilik paket perangkat lunak
Comment[it]=Installa e visualizza pacchetti software
Comment[ko]=소프트웨어 패키지를 설치하고 보기
Comment[ku]=Paketên nivîsbariyê saz bike û lê binêre
Comment[nl]=Softwarepakketten installeren en bekijken
Comment[pl]=Instaluj i przeglądaj pakiety oprogramowania
Comment[pt]=Instalar e ver pacotes de software
Comment[pt_BR]=Instalar e ver pacotes
Comment[ru]=Установить и просмотреть пакеты программ
Comment[sk]=Zobraziť a nainštalovať softvérové balíky
Comment[sv]=Installera och visa programvarupaket
Exec=gdebi-gtk
Icon=gnome-mime-application-x-deb
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;System;
MimeType=application/x-deb;application/x-debian-package;
NoDisplay=true
X-Ubuntu-Gettext-Domain=gdebi
