Source: trisquel-desktop-common-data
Section: trisquel
Priority: optional
Maintainer: Trisquel GNU/Linux developers <trisquel-devel@listas.trisquel.info>
Build-Depends-Indep: debhelper
Standards-Version: 3.5.9.0

Package: trisquel-desktop-common-data
Architecture: all
Priority: optional
Replaces: trisquel-desktop-common
Depends: desktop-file-utils
Description: Trisquel desktop metapackage - data files.
 Virtual package providing a dependency list for Trisquel base installation.
 Provides a X11 environment and a set of tools common to all Trisquel versions.
 .

