[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=Home
TryExec=nautilus
Exec=nautilus
Terminal=false
StartupNotify=false
Type=Application
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=nautilus
X-GNOME-Bugzilla-Component=general
X-Gnome-Bugzilla-OtherBinaries=nautilus-adapter;nautilus-content-loser;nautilus-sidebar-loser;nautilus-text-view;nautilus-throbber;
X-GNOME-DocPath=
Name[gl_ES]=Cartafol persoal
GenericName[gl_ES]=
Comment[gl_ES]=Ver o seu cartafol persoal no xestor de ficheiros Nautilus
Icon=user-home
Name[zu]=Isibaya sasekhaya
GenericName[zu]=
Comment[zu]=Bona isibaya sasekhaya kumphathi hele weNautilus
Name[zh_TW]=個人資料夾
GenericName[zh_TW]=
Comment[zh_TW]=在 Nautilus 檔案總管中瀏覽個人資料夾
Name[zh_CN]=主文件夹
GenericName[zh_CN]=
Comment[zh_CN]=在 Nautilus 文件管理器中查看主文件夹
Name[xh]=Isiqulathi -zifayili Sasekhaya
GenericName[xh]=
Comment[xh]=Bonisa isiqulathi -zifayili sakho sasekhaya kumphathi -zifayili we-Nautilus
Name[wa]=Ridant måjhon
GenericName[wa]=
Comment[wa]=Vey li ridant måjhon dins l' manaedjeu di fitchîs Nautilus
Name[vi]=Thư mục chính
GenericName[vi]=
Comment[vi]=Xem thư mục chính của bạn trong trình quản lý tập tin Nautilus
Name[uk]=Домашня тека
GenericName[uk]=
Comment[uk]=Перегляд вашої домашньої теки у менеджері файлів Наутілус
Name[tr]=Ev Klasörü
GenericName[tr]=
Comment[tr]=Nautilus dosya yöneticisinde ev klasörünü görüntüle
Name[tk]=Öý Haltasy
GenericName[tk]=
Comment[tk]=Oa öý haltaňizi nautilusiň faýl müdirinde göriň
Name[th]=โฟลเดอร์บ้าน
GenericName[th]=
Comment[th]=ดูโฟลเดอร์บ้านในตัวจัดการแฟ้ม Nautilus
Name[te]=నివాసం సంచయం
GenericName[te]=
Comment[te]=నాటిలస్ దస్త్రం పర్యవేక్షిలో,నీ నివాస సంచయమును చూపు
Name[ta]=இல்ல அடைவு
GenericName[ta]=
Comment[ta]=இல்ல அடைவை நாடுலஸ் கோப்பு மேலாளரில் பார்
Name[sv]=Hemmapp
GenericName[sv]=
Comment[sv]=Visa din hemmapp i filhanteraren Nautilus
Name[sr@ije]=Лични директоријум
GenericName[sr@ije]=
Comment[sr@ije]=Прегледајте ваш лични директоријум у Наутилусу
Name[sr@Latn]=Lična fascikla
GenericName[sr@Latn]=
Comment[sr@Latn]=Pregledajte vašu ličnu fasciklu u Nautilusu
Name[sr]=Лична фасцикла
GenericName[sr]=
Comment[sr]=Прегледајте вашу личну фасциклу у Наутилусу
Name[sq]=Kartela Home
GenericName[sq]=
Comment[sq]=Shfaqe kartelën home të përdoruesit tek organizuesi i file Nautilus
Name[sl]=Domača mapa
GenericName[sl]=
Comment[sl]=Glej domačo mapo v upravljalniku datotek Nautilus
Name[sk]=Domovský priečinok
GenericName[sk]=
Comment[sk]=Zobrazí váš domovský priečinok v správcovi súborov Nautilus
Name[ru]=Домашняя папка
GenericName[ru]=
Comment[ru]=Просмотр домашней папки в файловом менеджере
Name[ro]=Dosar Acasă
GenericName[ro]=
Comment[ro]=Vizualizaţi dosarul dvs. Acasă în Nautilus
Name[pt_BR]=Pasta Pessoal
GenericName[pt_BR]=
Comment[pt_BR]=Veja sua pasta pessoal no gerenciador de arquivos Nautilus
Name[pt]=Pasta Pessoal
GenericName[pt]=
Comment[pt]=Ver a sua pasta pessoal no gestor de ficheiros Nautilus
Name[pl]=Folder domowy
GenericName[pl]=
Comment[pl]=Wyświetla folder domowy przy użyciu menedżera plików - Nautilusa
Name[pa]=ਘਰ ਫੋਲਡਰ
GenericName[pa]=
Comment[pa]=ਨਾਟੀਲਸ ਫਾਇਲ ਪ੍ਰਬੰਧਕ ਵਿੱਚ ਆਪਣਾ ਘਰ ਫੋਲਡਰ ਵੇਖੋ
Name[nso]=Sephuthedi sa Gae
GenericName[nso]=
Comment[nso]=Lebelela sephuthedi sa gae molaoding wa faele wa Nautilus
Name[no]=Hjemmemappe
GenericName[no]=
Comment[no]=Vis din hjemmemappe i Nautilus filhåndtereren
Name[nn]=Heimemappe
GenericName[nn]=
Comment[nn]=Vis heimemappa i Nautilus-filhandsamaren
Name[nl]=Persoonlijke map
GenericName[nl]=
Comment[nl]=Uw persoonlijke map weergeven met Nautilus bestandsbeheer
Name[ne]=होम फोल्डर
GenericName[ne]=
Comment[ne]=नटिलस फाइल प्रवन्धकमा होम फोल्डर देखाऊ
Name[nb]=Hjemmemappe
GenericName[nb]=
Comment[nb]=Vis din hjemmemappe i Nautilus filhåndtereren
Name[ms]=Folder Rumah
GenericName[ms]=
Comment[ms]=Lihat folder rumah padan pengurus fail Nautilus
Name[mn]=Гэр хавтас
GenericName[mn]=
Comment[mn]=Гэр хавтсын агуулгыг файл-менежер- Наутилусаар харах
Name[ml]=ആസ്ഥാന-കൂട്
GenericName[ml]=
Comment[ml]=
Name[mk]=Домашен директориум
GenericName[mk]=
Comment[mk]=Види го својот домашен директориум во поредувачот на датотеки на Наутилус
Name[mi]=Kōpaki Kāinga
GenericName[mi]=
Comment[mi]=
Name[lv]=Mājas Mape
GenericName[lv]=
Comment[lv]=Skatīt mājas mapi Nautilus failu pāvaldniekā
Name[lt]=Namų aplankas
GenericName[lt]=
Comment[lt]=Rodyti namų aplanką su Nautilus bylų tvarkykle
Name[li]=Heimmap
GenericName[li]=
Comment[li]=Eur heimmap tuine mit Nautilus besjtandjwirtsjaf
Name[ku]=Peldanka Mal
GenericName[ku]=
Comment[ku]=
Name[ko]=내 폴더
GenericName[ko]=
Comment[ko]=노틸러스 파일 관리자로 내 폴더 보기
Name[ja]=ホーム・フォルダ
GenericName[ja]=
Comment[ja]=Nautilus ファイル・マネージャでホーム・フォルダを表示します
Name[it]=Cartella Home
GenericName[it]=
Comment[it]=Mostra la cartella home dell'utente nel file manager Nautilus
Name[is]=Eigin mappa
GenericName[is]=
Comment[is]=Skoðaðu þína heimamöppu í Nautilus skráarstjóranum
Name[id]=Folder Rumah
GenericName[id]=
Comment[id]=Lihat folder rumah Anda menggunakan pengatur berkas Nautilus
Name[hu]=Saját mappa
GenericName[hu]=
Comment[hu]=Megnyitja a saját mappáját a Nautilus fájlkezelőben
Name[hr]=Direktorij:
GenericName[hr]=
Comment[hr]=Pregledajte vašu osobnu mapu u Nautilusu
Name[hi]=घर फ़ोल्डर
GenericName[hi]=
Comment[hi]=अपने घर फ़ोल्डर को नॉटिलस फ़ाइल प्रबंधक में देखें
Name[he]=תיקיית בית
GenericName[he]=
Comment[he]=הצג את תיקיית הבית שלך במנהל הקבצים נאוטילוס
Name[gu]=ઘરનું ફોલ્ડર
GenericName[gu]=
Comment[gu]=તમાર ઘરના ફોલ્ડરને ર્નાટીલસ ફાઇલ વ્યવસ્થાપકમાં જુઓ
Name[gl]=Cartafol persoal
GenericName[gl]=
Comment[gl]=Ver o seu cartafol persoal no xestor de ficheiros Nautilus
Name[ga]=Comhadlann Baile
GenericName[ga]=
Comment[ga]=
Name[fr]=Dossier personnel
GenericName[fr]=
Comment[fr]=Affiche votre dossier personnel dans le gestionnaire de fichiers Nautilus
Name[fi]=Kotikansio
GenericName[fi]=
Comment[fi]=Katsele kotikansiotasi Nautilus-tiedostonhallintaohjelmalla
Name[fa]=پوشه‌ی آغازه
GenericName[fa]=
Comment[fa]=نمایش پوشه‌ی آغازه‌ی شما در مدیر پرونده‌های ناتیلوس
Name[eu]=Karpeta nagusia
GenericName[eu]=
Comment[eu]=Ikusi zure karpeta nagusia Nautilus fitxategi-kudeatzailean
Name[et]=Kodukataloog
GenericName[et]=
Comment[et]=Ava oma kodukataloog failihalduris Nautilus
Name[es]=Carpeta personal
GenericName[es]=
Comment[es]=Vea su carpeta personal en el administrador de archivos Nautilus
Name[en_GB]=Home Folder
GenericName[en_GB]=
Comment[en_GB]=View your home folder in the Nautilus file manager
Name[en_CA]=Home Folder
GenericName[en_CA]=
Comment[en_CA]=View your home folder in the Nautilus file manager
Name[el]=Κατάλογος Χρήστη
GenericName[el]=
Comment[el]=Εμφάνιση του καταλόγου χρήστη στο διαχειριστή αρχείων του Ναυτίλου
Name[de]=Persönlicher Ordner
GenericName[de]=
Comment[de]=Ihren persönlichen Ordner im Dateimanager Nautilus anzeigen
Name[da]=Hjemmemappe
GenericName[da]=
Comment[da]=Vis din hjemmemappe i filhåndteringen Nautilus
Name[cy]=Plygell Cartref
GenericName[cy]=
Comment[cy]=Gweld eich plygell cartref yn y trefnydd ffeiliau Nautilus
Name[cs]=Domovský adresář
GenericName[cs]=
Comment[cs]=Zobrazit váš domovský adresář ve správci souborů Nautilus
Name[ca]=Carpeta d'inici
GenericName[ca]=
Comment[ca]=Visualitzeu la vostra carpeta d'inici amb el gestor de fitxers Nautilus
Name[bs]=Početni direktorij
GenericName[bs]=
Comment[bs]=Pogledajte vaš početni direktorij u Nautilusovom menadžeru datoteka
Name[bn]=ব্যক্তিগত ফোল্ডার
GenericName[bn]=
Comment[bn]=নটিলাস ফাইল ব্যবস্থাপকে আপনার ব্যক্তিগত ফোল্ডার দেখুন
Name[bg]=Домашна папка
GenericName[bg]=
Comment[bg]=Преглед на домашната папка във файловия мениджър Nautilus
Name[be]=Хатняя тэчка
GenericName[be]=
Comment[be]=Прагляд вашае хатняе тэчкі у "Наўтылюсе"
Name[az]=Ev Qovluğu
GenericName[az]=
Comment[az]=Ev qovluğunuzu Nautilus fayl idarəçisində gəzin
Name[ar]=الدليل المنزلي
GenericName[ar]=
Comment[ar]=عرض لدليلك المنزلي في مدير ملفات نوتلس
Name[am]=የቤት ዶሴ
GenericName[am]=
Comment[am]=
Name[af]=Tuisvouer
GenericName[af]=
Comment[af]=Bekyk jou tuisvouer in die Nautilus-lêerbestuurder
NoDisplay=true
