[Desktop Entry]
Version=1.0
Terminal=false
Exec=ooffice -draw %U
Icon=ooo-draw
Type=Application
Categories=Application;Office;
StartupNotify=false
InitialPreference=6
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.stardivision.draw;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;
Name=OpenOffice.org Drawing
Name[am]=ኦፕንኦፊስ.ኦርግ ምስል አቀናጅ
Name[bn]=ওপেনঅফিস.অর্গ ড্রয়িং
Name[ca]=Editor de dibuixos de l'OpenOffice.org
Name[cs]=OpenOffice.org Kreslení
Name[de]=OpenOffice.org Zeichnung
Name[el]=Εφαρμογή σχεδίασης OpenOffice
Name[en_GB]=OpenOffice.org Drawing
Name[eo]=OpenOffice.org Desegnilo
Name[es]=OpenOffice.org Dibujos
Name[et]=OpenOffice.org Joonistame
Name[fi]=OpenOffice.org-piirros
Name[fil]=Gumuhit sa OpenOffice.org
Name[fr]=Dessin OpenOffice.org
Name[gl]=Debuxo de OpenOffice.org
Name[he]=OpenOffice.org ציור
Name[hr]=OpenOffice.org crtanje
Name[hu]=OpenOffice.org rajzoló
Name[it]=OpenOffice.org - Disegno
Name[ja]=OpenOffice.org Drawing
Name[ka]=OpenOffice.org გრაფიკა
Name[kn]=OpenOffice.org ಕಲೆ
Name[ko]=오픈오피스 그리기
Name[ku]=Xêzkirina OpenOffice.org
Name[lt]=OpenOffice.org piešimas/braižyba
Name[nl]=OpenOffice.org Tekenen
Name[oc]=Dessenh OpenOffice.org
Name[pl]=Rysunek OpenOffice.org
Name[pt]=Desenho OpenOffice.org
Name[pt_BR]=OpenOffice.org Desenho
Name[ru]=OpenOffice: Рисование
Name[sk]=Kreslenie OpenOffice.org
Name[sv]=OpenOffice.org Ritning
Name[tl]=Gumuhit sa OpenOffice.org
Name[tr]=OpenOffice.org Çizim
Name[uk]=OpenOffice.org Drawing
Name[vi]=Vẽ hình với OpenOffice.org
Name[zh_CN]=OpenOffice.org 图画
Name[zh_TW]=OpenOffice.org 繪圖
GenericName=Drawing
GenericName[af]=Teken
GenericName[am]=ምስል አቀናጅ
GenericName[ar]=الرسم
GenericName[az]=Rəsm
GenericName[be@latin]=Rysavańnie
GenericName[bg]=Рисунка
GenericName[bn]=ড্রয়িং
GenericName[bs]=Crtanje
GenericName[ca]=Dibuix
GenericName[cs]=Kreslení
GenericName[da]=Tegneprogram
GenericName[de]=Zeichnung
GenericName[dz]=པར་རིས།
GenericName[el]=Σχεδιασμός
GenericName[en_CA]=Drawing
GenericName[en_GB]=Drawing
GenericName[en_ZA]=Drawing
GenericName[eo]=Desegnajxo
GenericName[es]=Dibujo
GenericName[et]=Joonistamine
GenericName[eu]=Marrazketa
GenericName[fi]=Piirros
GenericName[fil]=Gumuhit
GenericName[fr]=Dessin
GenericName[ga]=Tarraingt
GenericName[gl]=Debuxo
GenericName[gu]=ચિત્ર
GenericName[he]=ציור
GenericName[hr]=Crtanje
GenericName[hu]=Rajzoló
GenericName[it]=Disegno
GenericName[ja]=図形描画
GenericName[ka]=გრაფიკა
GenericName[kn]=ಕಲೆ
GenericName[ko]=그리기
GenericName[ku]=Xêzkirin
GenericName[lt]=Piešimas ir braižyba
GenericName[mk]=Цртање
GenericName[ms]=Lukisan
GenericName[nb]=Tegning
GenericName[ne]=रेखाचित्र
GenericName[nl]=Tekenen
GenericName[nr]=Umgwalo
GenericName[nso]=Go Thala
GenericName[oc]=Dessenh
GenericName[pa]=ਡਰਾਇੰਗ
GenericName[pl]=Rysunek
GenericName[pt]=Desenho
GenericName[pt_BR]=Desenho
GenericName[ru]=Рисунок
GenericName[rw]=Igishushanyo
GenericName[sk]=Kreslenie
GenericName[sl]=Risanje
GenericName[sq]=Vizatim
GenericName[sr]=Crtanje
GenericName[sr@Latn]=Crtanje
GenericName[st]=Ho torowa
GenericName[sv]=Ritning
GenericName[th]=วาดเขียน
GenericName[tl]=Gumuhit
GenericName[tr]=Çizim
GenericName[ts]=Vudirowi
GenericName[uk]=Малювання
GenericName[vi]=Vẽ hình
GenericName[wa]=Dessinaedje
GenericName[xh]=Umzobo
GenericName[zh_CN]=绘图
GenericName[zh_TW]=繪圖
GenericName[zu]=Ukudweba
Comment=Create and edit drawings, flow charts, and logos.
Comment[am]=ምስሎችን፣ ምልክቶችን፣ የሂድት ዱካ...ወዘተ ይድረሱ
Comment[bn]=ড্রয়িং, ফ্লো চার্ট, এবং লোগো তৈরি এবং সম্পাদনা।
Comment[ca]=Creeu i editeu dibuixos, diagrames de flux i logotips.
Comment[cs]=Vytvářet a upravovat obrázky, grafy a loga.
Comment[de]=Zeichnungen erstellen und bearbeiten, Flussdiagramme entwerfen und Logos kreieren
Comment[el]=Δημιουργία και επεξεργασία σχεδίων, διαγραμμάτων και λογοτύπων
Comment[en_GB]=Create and edit drawings, flow charts, and logos.
Comment[eo]=Krei kaj redakti desegnajxojn, stirfluajn diagramojn, kaj identigajn simbolojn.
Comment[es]=Crear y editar dibujos, diagramas de flujo y logotipos.
Comment[et]=Loo ja muuda joonistusi, graafikuid ja logosid.
Comment[fi]=Luo ja muokkaa piirroksia, vuokaavioita ja logoja.
Comment[fil]=Lumikha at isaayos ang mga guhit, mga flow chart, at mga logo.
Comment[fr]=Création et édition de dessins, organigrammes, et logos.
Comment[gl]=Crea e edita debuxos, diagramas de fluxo, e logos.
Comment[he]=צרו וערכו איורים, תרשימי זרימה ולוגואים.
Comment[hr]=Izradite i uredite crteže, logotipe i sheme.
Comment[hu]=Rajozok, folyamatábrák és logók készítése és szerkesztése.
Comment[it]=Crea e modifica disegni, diagrammi di flusso e loghi.
Comment[ja]=図形、フローチャート、ロゴを作成・編集します。
Comment[ka]=ნახატების, სქემებისა და ლოგოების შექმნა და რედაქტირება.
Comment[ko]=그림이나 순서도, 표어를 만들고 수정합니다.
Comment[ku]=Wêneyan, nexşeyin belqînê û logoyan biafirîne û serrast bike
Comment[lt]=Kurkite bei tobulinkite brėžinius, blokines schemas, diagramas ir logotipus.
Comment[nl]=Tekeningen, stroomdiagrammen en logo's maken en bewerken.
Comment[pl]=Tworzenie i modyfikacja rysunków, diagramów i logo.
Comment[pt]=Criar e editar desenhos, diagramas de sequência e logotipos.
Comment[pt_BR]=Crie e edite desenhos, gráficos e logotipos.
Comment[ru]=Создание, редактирование рисунков, схем и логотипов.
Comment[sk]=Vytvárajte a upravujte kresby, grafy a logá.
Comment[sv]=Skapa och redigera ritningar, flödesscheman och logotyper.
Comment[tl]=Lumikha at isaayos ang mga guhit, mga flow chart, at mga logo.
Comment[tr]=Çizimler, akış şemaları ve logolar oluşturun ve düzenleyin.
Comment[vi]=Tạo và hiệu chỉnh các bản vẽ, đồ thị và logo.
Comment[zh_CN]=创建和编辑图画、流程图和Logo
