[Desktop Entry]
Version=1.0
Terminal=false
Icon=libreoffice-draw
Type=Application
Categories=Application;Office;
OnlyShowIn=GNOME
Exec=libreoffice -draw %U
MimeType=application/vnd.oasis.opendocument.graphics;application/vnd.oasis.opendocument.graphics-template;application/vnd.sun.xml.draw;application/vnd.sun.xml.draw.template;application/vnd.stardivision.draw;
Name=LibreOffice Draw
Name[pt_BR]=BrOffice Draw
GenericName=Drawing Program
GenericName[en]=Drawing Program
GenericName[ast]=Programa de dibuxu
GenericName[ca]=Programa de dibuix
GenericName[da]=Tegneprogram
GenericName[de]=Zeichenprogramm
GenericName[el]=Πρόγραμμα Σχεδίασης
GenericName[es]=Programa de dibujo
GenericName[fi]=Piirros
GenericName[fr]=Logiciel de dessin
GenericName[gl]=Programa de debuxo
GenericName[he]=תוכנת ציור
GenericName[hr]=Crtanje
GenericName[hu]=Rajzoló
GenericName[it]=Programma di disegno
GenericName[is]=Teikniforrit
GenericName[ja]=図形描画
GenericName[nl]=Tekenprogramma
GenericName[pt_BR]=Programa para desenho
GenericName[ro]=Program de desensare 
GenericName[ru]=Программа для рисования
GenericName[sl]=Program za risanje
GenericName[te]=చిత్రలేఖన ప్రోగ్రామ్
GenericName[vi]=Chương trình Vẽ
GenericName[zh_CN]=绘图工具
GenericName[zh_TW]=繪圖程式
Comment=Create and edit drawings, flow charts, and logos by using Draw.
Comment[en]=Create and edit drawings, flow charts, and logos by using Draw.
Comment[ast]=Crea y edita dibuxos, diagrames de fluxu y logos.
Comment[ca]=Creeu i editeu dibuixos, diagrames de flux i logotips.
Comment[da]=Opret og rediger tegninger, diagrammer og logoer.
Comment[de]=Zeichnungen, Flussdiagramme und Logos erstellen und bearbeiten
Comment[el]=Δημιουργία και επεξεργασία σχεδιασμάτων, διαγραμμάτων ροής και λογοτύπων.
Comment[es]=Cree y edite dibujos, diagramas de flujo y logotipos.
Comment[fi]=Luo ja muokkaa piirroksia, vuokaavioita ja logoja.
Comment[fr]=Créer et modifier des dessins, diagrammes et logos.
Comment[gl]=Cree e modifique debuxos, diagramas de fluxo e logotipos.
Comment[he]=.יצירה ועריכה של ציורים, תרשימי זרימה וסמלילים
Comment[hr]=Stvorite i uredite crteže, dijagrame toka i logotipove.
Comment[hu]=Rajzok, folyamatábrák és logók létrehozása és szerkesztése
Comment[it]=Crea e modifica disegni, diagrammi di flusso e loghi.
Comment[is]=Búa til og breyta teikningum, skýringamyndum og flæðiritum.
Comment[ja]=ベクタ画像やフローチャート、ロゴを編集します。
Comment[nl]=Tekeningen, diagrammen en logo's maken.
Comment[pt_BR]=Crie e edite desenho, fluxograma ou logos
Comment[ro]=Creați și editați desene, grafice și logouri. 
Comment[ru]=Создание и редактирование рисунков, диаграмм и логотипов.
Comment[sl]=Ustvarjajte in urejajte slike, diagrame poteka in logotipe.
Comment[te]=చిత్రాలు,చిహ్నాలు(లోగో) మరియు ఫ్లో చార్టులు సృష్టి మరియు సవరణ
Comment[vi]=Tạo và sửa hình vẽ, sơ đồ và biểu tượng
Comment[zh_CN]=创建编辑图形、图表和标志。
Comment[zn_TW]=建立與編輯繪圖、流程圖與標誌。
InitialPreference=5
X-Ayatana-Desktop-Shortcuts=New
[New Shortcut Group]
Name=New Drawing
Name[en]=New Drawing
Name[ast]=Dibuxu nuevu
Name[ca]=Dibuix nou
Name[da]=Ny tegning
Name[de]=Neue Zeichnung
Name[el]=Νέα σχεδίαση
Name[es]=Dibujo nuevo
Name[fi]=Uusi piirros
Name[fr]=Nouveau dessin
Name[gl]=Novo debuxo
Name[he]=ציור חדש
Name[hr]=Nov crtež
Name[hu]=Új rajz
Name[it]=Nuovo disegno
Name[is]=Ný teikning
Name[ja]=新規画像を作成
Name[nl]=Nieuwe tekening
Name[pt_BR]=Novo desenho
Name[ro]=Desen nou
Name[ru]=Новый рисунок
Name[sl]=Nova risba
Name[te]=కొత్త చిత్రం
Name[vi]=Hình vẽ mới
Name[zh_CN]=新建绘图
Name[zh_TW]=新增繪圖
Exec=libreoffice -draw %U
TargetEnvironment=Unity
X-KDE-Protocols=file,http,smb,ftp,webdav
