[Desktop Entry]
Name=OpenJDK Java 6 Web Start
Comment=OpenJDK Java 6 Web Start
Exec=/usr/lib/jvm/java-6-openjdk/bin/javaws %u
Terminal=false
Type=Application
Icon=openjdk-6
Categories=Application;Network;
OnlyShowIn=GNOME
MimeType=application/x-java-jnlp-file;
NoDisplay=true
