[Desktop Entry]
Name=Metacity-compositing-helper
Comment=The first run, enables composition in metacity if 3D acceleration is available.
Exec=metacity-compositing-helper
Terminal=false
Type=Application
X-GNOME-Autostart-Phase=Applications
X-GNOME-AutoRestart=true
NoDisplay=true

