[Desktop Entry]
X-AppInstall-Package=gedit
X-AppInstall-Popcon=10644
X-AppInstall-Section=main

Encoding=UTF-8
Name=Text Editor
Name[af]=Teksredigeerder
Name[am]=የጽሑፍ ማቀናጃ
Name[ar]=محرّر نصوص
Name[az]=Mətn Editoru
Name[be]=Рэдактар тэкстаў
Name[bg]=Текстов редактор
Name[bn]=টেক্সট এডিটার
Name[bn_IN]=টেক্সট এডিটার
Name[br]=Aozer Skridoù
Name[bs]=Tekst editor
Name[ca]=Editor de text
Name[cs]=Textový editor
Name[cy]=Golygydd Testun
Name[da]=Tekstredigering
Name[de]=Texteditor
Name[dz]=ཚིག་ཡིག་ཞུན་དགཔ།
Name[el]=Επεξεργαστής Κειμένου
Name[en_CA]=Text Editor
Name[en_GB]=Text Editor
Name[es]=Editor de textos
Name[et]=Tekstiredaktor
Name[eu]=Testu-editorea
Name[fa]=ویرایشگر متن
Name[fi]=Tekstieditori
Name[fr]=Éditeur de texte
Name[ga]=Eagarthóir Téacs
Name[gl]=Editor de texto
Name[gu]=લખાણ સંપાદક
Name[he]=עורך טקסט
Name[hi]=पाठ संपादक
Name[hr]=Uređivač teksta
Name[hu]=Szövegszerkesztő
Name[hy]=Տեքստի խմբագրիչ
Name[id]=Penyunting Berkas Teks
Name[is]=Texta Ritill
Name[it]=Editor di testo
Name[ja]=テキスト・エディタ
Name[ka]=ტექსტის რედაქტორი
Name[kn]=ಪಠ್ಯ ಸಂಪಾದಕ
Name[ko]=텍스트 편집기
Name[ku]=Edîtora Nivîsê
Name[lt]=Tekstų redaktorius
Name[lv]=Teksta Redaktors
Name[mg]=Fanovana lahabolana
Name[mk]=Уредувач за текст
Name[ml]=രചന ചിട്ടപ്പെടുത്തല്‍‌ ഉപാധി
Name[mn]=Текст боловсруулагч
Name[mr]=पाठ्य संपादक
Name[ms]=Editor Teks
Name[nb]=Tekstredigering
Name[ne]=पाठ संपादक
Name[nl]=Tekst-editor
Name[nn]=Tekstredigering
Name[oc]=Editor de tèxt
Name[or]=ପାଠ୍ଯ ସମ୍ପାଦକ
Name[pa]=ਪਾਠ ਸੰਪਾਦਕ
Name[pl]=Edytor tekstu
Name[pt]=Editor de Texto
Name[pt_BR]=Editor de Texto
Name[ro]=Editor de text
Name[ru]=Текстовый редактор
Name[rw]=Umuhinduzi w'inyandiko
Name[sk]=Textový editor
Name[sl]=Urejevalnik besedil
Name[sq]=Editues teksti
Name[sr]=Вилењакова бележница
Name[sr@Latn]=Vilenjakova beležnica
Name[sv]=Textredigerare
Name[ta]=உரை திருத்தி
Name[th]=เครื่องมือแก้ไขข้อความ
Name[tk]=Metin Editçi
Name[tr]=Metin Düzenleyici
Name[uk]=Текстовий редактор
Name[vi]=Bộ soạn thảo văn bản
Name[wa]=Aspougneu di tecse
Name[xh]=Umhleli wombhalo
Name[zh_CN]=文本编辑器
Name[zh_HK]=文字編輯器
Name[zh_TW]=文字編輯器
Comment=Edit text files
Comment[af]=Redigeer tekslêers
Comment[am]=የጽሑፍ ፋይሎች ያስተካክሉ
Comment[ar]=حرّر الملفات النصية
Comment[az]=Mətn fayllarını redaktə edin
Comment[be]=Зьмяніць тэкставыя файлы
Comment[bg]=Редактиране на текстови файлове
Comment[bn]=টেক্সট ফাইল সম্পাদনা
Comment[bn_IN]=টেক্সট ফাইল সম্পাদনা
Comment[br]=Kemmañ restroù-skrid
Comment[bs]=Izmijeni tekstualne datoteke
Comment[ca]=Editeu fitxers de text
Comment[cs]=Úprava textových souborů
Comment[cy]=Golygu ffeiliau testun
Comment[da]=Redigér tekstfiler
Comment[de]=Textdateien bearbeiten
Comment[dz]=ཚིག་ཡིག་ཡིག་སྣོད་ ཞུན་དག་རྐྱབས།
Comment[el]=Επεξεργασία αρχείων κειμένου
Comment[en_CA]=Edit text files
Comment[en_GB]=Edit text files
Comment[es]=Edite archivos de texto
Comment[et]=Tekstifailide redigeerimine
Comment[eu]=Editatu testu-fitxategiak
Comment[fa]=ویرایش پرونده‌های متنی
Comment[fi]=Muokkaa tekstitiedostoja
Comment[fr]=Édite des fichiers texte
Comment[ga]=Eagar comhad Téacs
Comment[gl]=Editar ficheiros de texto
Comment[gu]=લખાણ ફાઇલોમાં ફેરફાર કરો
Comment[he]=ערוך קבצי טקסט
Comment[hi]=पाठ फ़ाइलें संपादित करें
Comment[hr]=Uređivanje tekstualne datoteke
Comment[hu]=Szövegfájlok szerkesztése
Comment[id]=Edit berkas teks
Comment[it]=Modifica file di testo
Comment[ja]=テキスト形式のファイルを編集します
Comment[ka]=ტექსტური ფაილების რედაქტირება
Comment[kn]=ಪಠ್ಯ ಕಡತಗಳನ್ನು ಸಂಪಾದಿಸು
Comment[ko]=텍스트 파일을 편집합니다
Comment[ku]=Pelên nivîsê sererast bike
Comment[lt]=Redaguoti tekstinius failus
Comment[lv]=Rediģēt teksta failus
Comment[mg]=Hanova raki-dahabolana
Comment[mk]=Уредувај текстуални датотеки
Comment[ml]=ടെക്സ്റ്റ് ഫയലുകളില്‍ മാറ്റം വരുത്തുക 
Comment[mn]=Текст файл боловсруулах
Comment[mr]=पाठ्य फाइल संपादित करा
Comment[ms]=Edit fail teks
Comment[nb]=Rediger tekstfiler
Comment[ne]=पाठ फाइललाई संशोधन गर्नुहोस्
Comment[nl]=Tekstbestanden bewerken
Comment[nn]=Rediger tekstfiler
Comment[oc]=Editar de fichièrs tèxt
Comment[or]=ପାଠ୍ଯ ଫାଇଲଗୁଡ଼ିକୁ ସମ୍ପାଦନ କରନ୍ତୁ
Comment[pa]=ਪਾਠ ਫਾਇਲਾਂ ਸੋਧੋ
Comment[pl]=Edytor plików tekstowych
Comment[pt]=Editar ficheiros de texto
Comment[pt_BR]=Edite arquivos de texto
Comment[ro]=Editare fişiere text
Comment[ru]=Редактор текстовых файлов
Comment[sk]=Úprava textových súborov
Comment[sl]=Urejanje datotek z besedili
Comment[sq]=Përpuno files teksti
Comment[sr]=Уређивач текстуалних докумената
Comment[sr@Latn]=Uređivač tekstualnih dokumenata
Comment[sv]=Redigera textfiler
Comment[ta]=உரை கோப்புகளை திருத்தவும் 
Comment[th]=แก้ไขแฟ้มข้อความ
Comment[tk]=Metin faýllary editle
Comment[tr]=Metin dosyalarını düzenle
Comment[uk]=Редактор текстових файлів
Comment[vi]=Soạn thảo tập tin văn bản
Comment[wa]=Asspougnî des fitchîs tecses
Comment[xh]=Hlela iifayili zombhalo
Comment[zh_CN]=编辑文本文件
Comment[zh_HK]=編輯文字檔
Comment[zh_TW]=編輯文字檔
Exec=gedit %U
Terminal=false
Type=Application
StartupNotify=true
MimeType=text/plain;
Icon=accessories-text-editor
Categories=GNOME;GTK;Utility;TextEditor;
X-GNOME-DocPath=gedit/gedit.xml
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gedit
X-GNOME-Bugzilla-Component=general
X-GNOME-Bugzilla-Version=2.18.2
X-GNOME-Bugzilla-ExtraInfoScript=/usr/lib/gedit-2/gedit-bugreport.sh
