[Desktop Entry]
X-AppInstall-Package=gnome-media
X-AppInstall-Popcon=6767
X-AppInstall-Section=main

Encoding=UTF-8
Name=Multimedia Systems Selector
Name[ar]=منتقي نظم الوسائط المتعدّدة
Name[az]=Multimediya Sistemi Seçicisi
Name[be]=Вылучальнік мультымэдыйных сыстэмаў
Name[bg]=Избор на мултимедийни системи
Name[bn]=মাল্টিমিডিয়া সিস্টেম নির্বাচক
Name[bn_IN]=মাল্টিমিডিয়া সিস্টেম নির্বাচক
Name[bs]=Izbornik multimedijskog sistema
Name[ca]=Selector de sistemes multimèdia
Name[cs]=Výběr systému multimédií
Name[cy]=Dewisydd Systemau Amlgyfrwng
Name[da]=Multimediesystem
Name[de]=Multimedia-System
Name[dz]=སྣ་མང་བརྡ་དོན་རིམ་ལུགས་སེལ་བྱེད།
Name[el]=Επιλογέας Συστημάτων Πολυμέσων
Name[en_CA]=Multimedia Systems Selector
Name[en_GB]=Multimedia Systems Selector
Name[es]=Selector de sistemas multimedia
Name[et]=Multimeediasüsteemi valija
Name[eu]=Multimedia sistema hautatzailea
Name[fa]=انتخاب‌گر سیستم‌های چندرسانه‌ای
Name[fi]=Multimediajärjestelmien valitsimet
Name[fr]=Sélecteur de systèmes multimédia
Name[gl]=Selector de sistemas multimedia
Name[gu]=મલ્ટીમીડિયા સિસ્ટમ પસંદગીકારક
Name[he]=בוחר מערכות מולטימדיה
Name[hi]=मल्टीमीडिया तंत्र चयनक
Name[hr]=Izbornik multimedijskog sustava
Name[hu]=Multimédiarendszer-választó
Name[id]=Pemilih Sistem Multimedia
Name[it]=Selettore di sistemi multimediali
Name[ja]=マルチメディア・システム・セレクタ
Name[ko]=멀티미디어 시스템 선택기
Name[lt]=Multimedijos sistemų konfigūravimas
Name[lv]=Multimediju sistēmas izvēlētājs
Name[mg]=Mpisafidy rafitra haino amamn-jery
Name[mk]=Избирач на системот за мултимедија
Name[mn]=Мултимедиа систем тэмдэглэгч
Name[mr]=मल्टीमीडिया प्रणाली निवडकर्ता
Name[ms]=Pemilih Sistem Multimedia
Name[nb]=Valg av multimediesystem
Name[ne]=मल्टिमिडिया प्रणालीहरू चयनकर्ता
Name[nl]=Multimediasystemen selecteren
Name[nn]=Multimediasystem-veljar
Name[or]=ବହୁମାଧ୍ଯମ ତନ୍ତ୍ର ଚୟକ
Name[pa]=ਮਲਟੀਮੀਡਿਆ ਸਿਸਟਮ ਚੋਣਕਾਰ
Name[pl]=Wybór systemów multimediów
Name[pt]=Selector de Sistemas Multimédia
Name[pt_BR]=Seletor de Sistemas Multimídia
Name[ro]=Selector sisteme multimedia
Name[ru]=Выбор мультимедийной системы
Name[sk]=Výber systému multimédií
Name[sl]=Izbirnik večpredstavnih sistemov
Name[sq]=Zgjedhësi i Sistemeve Multimedialë
Name[sr]=Избирач мултимедијалног система
Name[sr@Latn]=Izbirač multimedijalnog sistema
Name[sv]=Väljare för multimediasystem
Name[ta]=மல்டிமிடியா அமைப்பு தேர்ந்தெடுக்கப்பட்டது
Name[th]=เลือกระบบสื่อผสม
Name[tr]=Çokluortam Sistemleri Seçicisi
Name[uk]=Вибір мультимедійної системи
Name[vi]=Bộ chọn hệ thống đa phương tiện
Name[xh]=IsiXhobo sokuKhetha iiNkqubo zoSasazo ngeendlela ezininzi
Name[zh_CN]=多媒体系统选择器
Name[zh_HK]=多媒體系統選擇器
Name[zh_TW]=多媒體系統選擇器
Comment=Configure defaults for GStreamer applications
Comment[ar]=إعداد إفتراض تطبيقات جستريمر
Comment[az]=GStreamer proqramları üçün əsasları quraşdır
Comment[be]=Наладзіць прадвызначаныя значэньні для дастасаваньняў GStreamer
Comment[bg]=Настройки по подразбиране за програмите основани на GStreamer
Comment[bn]=জীস্ট্রিমারের অ্যাপ্লিকেশনসমূহের জন্য ডিফল্ট মান কনফিগার করুন
Comment[bn_IN]=জীস্ট্রিমারের অ্যাপ্লিকেশনসমূহের জন্য ডিফল্ট মান কনফিগার করুন
Comment[bs]=Postavi uobičajene postavkeza GStreamer program
Comment[ca]=Configura els valors predeterminats per a les aplicacions GStreamer
Comment[cs]=Nastavit implicitní hodnoty pro aplikace GStreamer
Comment[cy]=Cyflunio rhagosodiadau ar gyfer rhaglenni GStreamer
Comment[da]=Konfigurér forvalgte værdier for GStreamer-programmer
Comment[de]=Die Vorgaben für GStreamer-Anwendungen festlegen
Comment[dz]=ཇི་སི་ཊི་མར་གྱི་ གློག་རིམ་དོན་ལུ་ སྔོན་སྒྲིག་རིམ་སྒྲིག་འབད།
Comment[el]=Ρύθμιση προεπιλεγμένων επιλογών για εφαρμογές GStreamer
Comment[en_CA]=Configure defaults for GStreamer applications
Comment[en_GB]=Configure defaults for GStreamer applications
Comment[es]=Configurar predeterminados para aplicaciones Gstreamer
Comment[et]=GStreamer rakenduste vaikeseadete määramine
Comment[eu]=Konfiguratu GStreamer-en aplikazioen lehenespenak
Comment[fa]=پیکربندی پیش‌فرض‌ها برای برنامه‌های GStreamer
Comment[fi]=Aseta GStreamer-sovellusten oletusarvot
Comment[fr]=Configure les valeurs par défaut pour les applications GStreamer
Comment[gl]=Configurar predeterminados para aplicacións GStreamer
Comment[gu]=GStreamer કાર્યક્રમો માટે મૂળભુત રૂપરેખાંકન કરો
Comment[he]=הגדר ברירות מחדל ליישומי GStreamer
Comment[hi]=जी-स्ट्रीमर अनुप्रयोगों हेतु डिफ़ॉल्ट्स कॉन्फ़िगर करें 
Comment[hr]=Postavi uobičajena podešavanja za GStrimer aplikacije
Comment[hu]=A GStreamer-alkalmazások alapbeállításainak módosítása
Comment[id]=Konfigurasikan nilai awal pada aplikasi GStreamer
Comment[it]=Configurazione delle impostazioni predefinite per le applicazioni GStreamer
Comment[ja]=GStreamer を使用するアプリのデフォルト値を設定します
Comment[ko]=GStreamer 프로그램의 기본값을 설정합니다
Comment[ku]=Ji bo sepanên GStremar mîhengên standard veava bike
Comment[lt]=Keisti numatytuosius GStreamer programų nustatymus
Comment[lv]=Konfigurācijas noklusējumi GStreamer aplikācijām
Comment[mg]=Manefy ny sanda tsotran'ny rindranasa GStreamer
Comment[mk]=Постави ги стандардните параметри за апликациите GStreamer
Comment[mn]=GStreamer програмуудын анхдагч утгыг тогтоох
Comment[ms]=Konfigurasi default bagi aplikasi GStreamer
Comment[nb]=Konfigurer forvalgte verdier for GStreamer-programmer
Comment[ne]=जीस्ट्रिमर कार्यक्रमहरूका लागि पूर्वनिर्धारणहरू कन्फिगरेसन गर्नुहोस्
Comment[nl]=Standaardinstellingen configureren voor GStreamer-toepassingen
Comment[nn]=Set opp standardverdiar for GStreamer-program
Comment[or]=ଜିସ୍ଟ୍ରୀମର ଅନୁପ୍ରୟୋଗଗୁଡ଼ିକ ପାଇଁ ପୂର୍ବନିର୍ଦ୍ଧାରିତ ମୂଲ୍ଯ ବିନ୍ଯାସ କରନ୍ତୁ
Comment[pa]=GStreamer ਕਾਰਜਾਂ ਲਈ ਸੰਰਚਨਾ ਮੂਲ
Comment[pl]=Domyślne ustawienia aplikacji opartych na podsystemie GStreamer
Comment[pt]=Configurar omissões para as aplicações GStreamer
Comment[pt_BR]=Configure padrões para aplicações GStreamer
Comment[ro]=Configurează setările implicite pentru aplicaţiile GStreamer
Comment[ru]=Настройка приложений GStreamer по умолчанию
Comment[sk]=Štandardné nastavenie pre aplikácie GStreamer
Comment[sl]=Privzete nastavitve za programe GStreamer
Comment[sq]=Sjellja e paracaktuar për aplikativët GStreamer
Comment[sr]=Постави уобичајена подешавања за ГСтример програме
Comment[sr@Latn]=Postavi uobičajena podešavanja za GStrimer programe
Comment[sv]=Konfigurera standardalternativ för GStreamer-program
Comment[ta]=Gஉள்ளமை
Comment[th]=กำหนดค่าปริยายสำหรับโปรแกรม GStreamer
Comment[tr]=GStreamer uygulamaları için öntanımlı ayarları yapılandır
Comment[uk]=Налаштовування параметрів програм GStreamer
Comment[vi]=Cấu hình mặc định cho các ứng dụng GStreamer
Comment[xh]=Ukwakha imimiselo yenkqubo yeGStreamer
Comment[zh_CN]=配置 GStreamer 应用程序的默认值
Comment[zh_HK]=修改 GStreamer 應用程式的預設設定
Comment[zh_TW]=修改 GStreamer 應用程式的預設設定
Exec=gstreamer-properties
Icon=gstreamer-properties.png
StartupNotify=true
Terminal=false
NoDisplay=true
Type=Application
Categories=GNOME;GTK;Settings;HardwareSettings;
X-GNOME-Bugzilla-Bugzilla=GNOME
X-GNOME-Bugzilla-Product=gnome-media
X-GNOME-Bugzilla-Component=gstreamer-properties
X-GNOME-Bugzilla-Version=2.18.0
