[Desktop Entry]
Encoding=UTF-8
Name=About Trisquel
Name[af]=Aangaande Trisquel
Name[ar]=عنْ جنوم
Name[az]=Trisquel Haqqında
Name[be]=Пра Trisquel
Name[be@latin]=Źviestki ab Trisquel
Name[bg]=Относно Trisquel
Name[bn]=গনোম পরিচিতি
Name[bn_IN]=Trisquel পরিচিতি
Name[br]=Diwar-benn Trisquel
Name[bs]=O Trisquel-u
Name[ca]=Quant al Trisquel
Name[cs]=O Trisquel
Name[cy]=Ynghylch Trisquel
Name[da]=Om Trisquel
Name[de]=Info zu Trisquel
Name[dz]=ཇི་ནོམ་གྱི་སྐོར་ལས།
Name[el]=Περί Trisquel
Name[en_CA]=About Trisquel
Name[en_GB]=About Trisquel
Name[eo]=Pri Trisquel
Name[es]=Acerca de Trisquel
Name[et]=Trisquel'st lähemalt
Name[eu]=Trisquelri buruz
Name[fa]=درباره‌ی گنوم
Name[fi]=Tietoja Trisquelsta
Name[fr]=À propos de Trisquel
Name[fur]=Informazions su Trisquel
Name[ga]=Maidir le Trisquel
Name[gl]=Sobre o Trisquel
Name[gu]=જીનોમ વિશે
Name[he]=אודות Trisquel
Name[hi]=गनोम के बारे में
Name[hr]=O Trisquel-u
Name[hu]=A Trisquel névjegye
Name[hy]=Գնոմի Մասին
Name[id]=Tentang Trisquel
Name[is]=Um Trisquel
Name[it]=Informazioni su Trisquel
Name[ja]=Trisquel について
Name[ka]=გნომის შესახებ
Name[kn]=Trisquel ನ ಬಗ್ಗೆ
Name[ko]=그놈 정보
Name[ku]=Der barê Trisquel de
Name[ky]=Trisquel чөйрөсү жөнүндө
Name[lt]=Apie Trisquel
Name[lv]=Par Trisquel
Name[mg]=Momba ny Trisquel
Name[mi]=Mo Trisquel
Name[mk]=За Trisquel
Name[ml]=ഗ്നോമിനെക്കുറിച്ചു്
Name[mn]=Гномын тухай
Name[mr]=Trisquel विषयी
Name[ms]=Perihal Trisquel
Name[nb]=Om Trisquel
Name[ne]=जिनोमको बारेमा
Name[nl]=Info over Trisquel
Name[nn]=Om Trisquel
Name[nso]=Mabapi le Trisquel
Name[oc]=A prepaus de Trisquel
Name[or]=ନୋମ ବିଷୟରେ
Name[pa]=ਗਨੋਮ ਬਾਰੇ
Name[pl]=Informacje o Trisquel
Name[pt]=Sobre o Trisquel
Name[pt_BR]=Sobre o Trisquel
Name[ro]=Despre Trisquel
Name[ru]=О среде Trisquel
Name[si]=Trisquel පිළිබඳව
Name[sk]=O Trisquel
Name[sl]=O Trisquel
Name[sq]=Informacione mbi Trisquel
Name[sr]=О Гному
Name[sr@Latn]=O Gnomu
Name[sv]=Om Trisquel
Name[ta]=கனோமைப் பற்றி
Name[te]=గ్నోమ్ గురించి
Name[th]=เกี่ยวกับ Trisquel
Name[tk]=Trisquel barada
Name[tr]=Trisquel Hakkında
Name[ug]=Trisquel ھەققىدە
Name[uk]=Про Trisquel
Name[uz@cyrillic]=Trisquel ҳақида
Name[vi]=Giới thiệu Trisquel
Name[wa]=Å dfait di Trisquel
Name[xh]=Malunga ne-Trisquel
Name[yo]=Nípa Trisquel
Name[zh_CN]=关于 Trisquel
Name[zh_HK]=關於 Trisquel
Name[zh_TW]=關於 Trisquel
Name[zu]=Nge Trisquel
Comment=Learn more about Trisquel
Comment[af]=Vind meer uit oor Trisquel
Comment[ar]=تعلم المزيد عن جنوم
Comment[be]=Даведайцеся больш пра Trisquel
Comment[be@latin]=Daviedajsia bolš pra Trisquel
Comment[bg]=Научете повече за Trisquel
Comment[bn]=গনোম সম্পর্কে আরও জানুন
Comment[bn_IN]=Trisquel সম্পর্কে বিস্তারিত তথ্য পড়ুন
Comment[br]=Deskiñ muioc'h diwar-benn Trisquel
Comment[ca]=Apreneu més coses sobre el Trisquel
Comment[cs]=Poznejte lépe Trisquel
Comment[cy]=Dysgu mwy am Trisquel
Comment[da]=Lær mere om GNOMR
Comment[de]=Mehr über Trisquel erfahren
Comment[dz]=ཇི་ནོམ་གྱི་སྐོར་ལས་ དེ་ལས་ལྷག་སྟེ་ཤེསཔ་འབད།
Comment[el]=Μάθετε περισσότερα για το Trisquel
Comment[en_CA]=Learn more about Trisquel
Comment[en_GB]=Learn more about Trisquel
Comment[eo]=Lernu pli pri Trisquel
Comment[es]=Aprenda más acerca de Trisquel
Comment[et]=Rohkem teadmisi Trisquel'i kohta
Comment[eu]=Ikasi gehiago Trisquelri buruz
Comment[fi]=Opi lisää Trisquelsta
Comment[fr]=En savoir plus sur Trisquel
Comment[fur]=Par savent di plui su Trisquel
Comment[ga]=Foghlaim níos mó faoi Trisquel
Comment[gl]=Aprenda máis sobre o Trisquel
Comment[gu]=જીનોમ વિશે વધુ શીખો
Comment[he]=למד יותר אודות Trisquel
Comment[hi]=गनोम के बारे में और जानें
Comment[hu]=Tudjon meg többet a Trisquel-ról
Comment[it]=Per saperne di più su Trisquel
Comment[ja]=Trisquel についてもっとよく知るには？
Comment[ka]=დამატებითი ინფორმაცია გნომის შესახებ
Comment[kn]=Trisquel ನ ಬಗ್ಗೆ ಇನ್ನಷ್ಟು ತಿಳಿಯಿರಿ
Comment[ko]=그놈을 좀 더 알고 싶을 때
Comment[ku]=Zêdetir agahî li ser Trisquel bistîne
Comment[lt]=Sužinokite daugiau apie Trisquel
Comment[lv]=Uzziniet vairāk par Trisquel
Comment[mg]=Hamantatra bebe kokoa momba ny Trisquel
Comment[mk]=Дознајте повеќе за Trisquel
Comment[ml]=ഗ്നോമിനെപ്പറ്റി കൂടുതല്‍ അറിയുക
Comment[mr]=Trisquel विषयी अधिक शिका
Comment[nb]=Lær mer om Trisquel
Comment[ne]=जिनोमको बारेमा धेरै सिक्नुहोस्
Comment[nl]=Meer te weten komen over Trisquel
Comment[nn]=Lær meir om Trisquel
Comment[oc]=Aprene mai de Trisquel
Comment[or]=ନୋମ ବିଷୟରେ ଅଧିକ ଜାଣନ୍ତୁ
Comment[pa]=ਗਨੋਮ ਬਾਰੇ ਹੋਰ ਜਾਣਕਾਰੀ ਲਵੋ
Comment[pl]=Więcej informacji o Trisquel
Comment[pt]=Saiba mais sobre o Trisquel
Comment[pt_BR]=Saiba mais sobre o Trisquel
Comment[ru]=Узнать больше о Trisquel
Comment[si]=Trisquel පිළිබඳව බොහොදේ  ඉගෙන ගන්න
Comment[sk]=Naučiť sa viac o Trisquel
Comment[sl]=Več o Trisquel
Comment[sq]=Mëso më tepër mbi Trisquel
Comment[sr]=Сазнајте више о Гному
Comment[sr@Latn]=Saznajte više o Gnomu
Comment[sv]=Lär dig mer om Trisquel
Comment[ta]=Trisquel பற்றி மேலும் பயிலவும்
Comment[te]=గ్నోమ్  గురించి తెలుసుకొను 
Comment[th]=ข้อมูลเพิ่มเติมเกี่ยวกับ Trisquel
Comment[tr]=Trisquel hakkında daha fazla şey öğrenin
Comment[uk]=Дізнайтесь більше про Trisquel
Comment[uz@cyrillic]=Trisquel ҳақида кўпроқ билиш
Comment[vi]=Xem thông tin thêm về Trisquel
Comment[zh_CN]=关于 Trisquel 的更多内容
Comment[zh_HK]=獲取更多有關 Trisquel 的資訊
Comment[zh_TW]=獲取更多有關 Trisquel 的資訊
Exec=x-www-browser http://trisquel.info/about
Icon=trisquel
Terminal=false
Type=Application
Categories=GNOME;GTK;Core;
StartupNotify=true
