headerbar .right button.minimize.titlebutton,
headerbar .right:dir(rtl) button.minimize.titlebutton,
headerbar .left button.minimize.titlebutton,
headerbar .left:dir(rtl) button.minimize.titlebutton,
headerbar .right button.maximize.titlebutton,
headerbar .right:dir(rtl) button.maximize.titlebutton,
headerbar .left button.maximize.titlebutton,
headerbar .left:dir(rtl) button.maximize.titlebutton,
headerbar .right button.close.titlebutton,
headerbar .right:dir(rtl) button.close.titlebutton,
headerbar .left button.close.titlebutton,
headerbar .left:dir(rtl) button.close.titlebutton {
    /* Override default background gradient with transparency */
    background-image: linear-gradient(to top, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 50%)
}

.titlebar button.close.titlebutton {
    /* fake request     to avoid usage of regular window-close button*/
    -gtk-icon-style: requested;
}

.titlebar button.close.titlebutton:hover,
.titlebar button.maximize.titlebutton:hover,
.titlebar button.minimize.titlebutton:hover {
    -gtk-icon-effect: none;
}

.titlebar button.close.titlebutton image,
.titlebar button.maximize.titlebutton image,
.titlebar button.minimize.titlebutton image {
    opacity: 0.7;
}

.titlebar button.close.titlebutton:hover image,
.titlebar button.maximize.titlebutton:hover image,
.titlebar button.minimize.titlebutton:hover image {
    opacity: 1.0;
}

.titlebar button.close.titlebutton:backdrop image,
.titlebar button.maximize.titlebutton:backdrop image,
.titlebar button.minimize.titlebutton:backdrop image {
    /* FIXME: Backdrop doesn't seem to be working at all for GTK3 with this
     * theme */
    opacity: 0.3;
}

/* gtk+-3.20 */

headerbar button.close.titlebutton,
headerbar button.minimize.titlebutton,
headerbar button.maximize.titlebutton {
    border-width: 0px;
    border-image: none;
    background-color: transparent;
}
